# Virtual Environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter Notebook cache
.ipynb_checkpoints/

# Saved Models & Scalers (These are too large for GitHub)
*.h5
*.pkl
*.keras

# IDE / OS files
.vscode/
.idea/
.DS_Store